:root {
  --clr-neutral-100: #f8f9fa;
  --clr-neutral-200: #f5f5f5;
  --clr-neutral-800: #212529;

  --clr-green-200: #43b067;
  --clr-green-400: #1c6434;

  --ff-primary: "Montserrat", "Roboto", "Helvetica", sans-serif;
  --ff-accent: 'Source Sans Pro', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  border-style: border-box;
}

/* body  */
body {
  background-color: var(--clr-neutral-100);
  font-family: var(--ff-primary); 
  font-size: 16px;
  overflow-x: hidden;
  font-family: var(--ff-primary); 
}


.socialMediaButtons-topText{
  font-size: .5em;
  color: var(--clr-green-400); 
  }

.header-socialMediaButtons{
  text-align: right; 
  margin-top: 2em; 
  margin-right: 1em; 
  font-size: 1.5em; 
}





h1,
h2,
h3,
h4,
h5 {
  color: var(--clr-neutral-800);

}
h1 {
  background: rgb(245,245,245);
  background: radial-gradient(circle, rgba(245,245,245,1) 0%, rgba(28,100,52,1) 100%);
  color: var(--clr-neutral-800);
  padding: 1em;
  text-align: center;
}
h2 {
  text-align: center;
  
}

/* links */
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #212529;
  text-decoration: none;
}
a:visited {
  color: #212529;
  text-decoration: none;
}

ul {
  padding-left: 0px;
}
li {
  list-style: none;
  font-family: var(--ff-primary); 
}

li.navBar-iconContainer{
  background-img: url(media/BodhiTreeLogo/BT_logo-\ Tree\ Icon\ -\ COLOR.svg); 
}

p {
  color: #628395;
  font-family: "Montserrat", "Roboto", "Helvetica";
}



.topLocationBanner{
  background: rgb(245,245,245);
  background: radial-gradient(circle, rgba(245,245,245,1) 0%, rgba(28,100,52,1) 100%);
height: 6em; 
}


h3.locationBanner{
  
  font-family: var(--ff-accent); 
  font-size: 2em; 

  padding: .9em; 
  /* background: rgb(199,173,64);
background: radial-gradient(circle, rgba(199,173,64,1) 0%, rgba(28,100,52,1) 80%); */
  text-align: center; 

  word-spacing: .2em; 
}


.white200left{
  color: var(--clr-neutral-200); 
margin-left: 35%; 
}

/* second navBar */

.navBar-list{
  display: flex; 
}

.navBar-listItem{
  padding: 1em 2em; 
}


/* end of second navBar */


/* ABOUT */

.treeIcon {
  font-size: 8em;
  margin-top: 0.5em;
  margin-bottom: 0;
  text-align: center; 
}

.bodhiTree-largeIcon{
  background-image: url(media/BodhiTreeLogo/BT_logo-\ Tree\ Icon\ -\ COLOR.svg); 
  background-repeat: no-repeat; 
  background-position: 50% 50%; 
  background-size: contain;
  height: 25vh; 
  margin-top: 3em; 
}

.aboutMeTitle {
  margin-top: 1.5em;
  text-align: center;
  font-weight: 600;
}

.aboutMeTitle-bodhi {
  margin-top: 0.5em;
  text-align: center;
  font-weight: 600;
}

.aboutMeSubTitle {
  font-size: 0.8em;
  font-weight: 200;
  text-align: center;
}

.aboutMe {
  color: #212529;
  font-size: 1em;
  display: inline-block;
  margin: 0 auto;
  max-width: 95%;
  padding-top: 2em;
  padding-left: 1.5em; 
  vertical-align: middle;
}

p.signedJulie{
  display: block;
text-align:end; 
margin-right: 25%; 
margin-bottom: 5em; 
}


.aboutTeam-buttons-flexContainer{
  display: flex; 
  justify-content: space-around; 
  margin: 5em 0; 
}

.aboutJulie-imageButton{
  background-image: url(media/ProfilePhotos/2021\ Julie\ Taft\ Portrait-square.jpg);
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: 50% 50%; 
  border-radius: 20px; 
  width: 300px; 
  height: 300px;
border-radius: 100%; 
}

.aboutStephen-imageButton{
  background-image: url(media/ProfilePhotos/StephenPortrait-square.jpg); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: 50% 50%; 
  border-radius: 20px; 
  width: 300px; 
  height: 300px;
border-radius: 100%; 
}

.aboutToryJones-imageButton{
  background-image: url(media/ProfilePhotos/smiley\ face.jpeg); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: 50% 50%; 
  border-radius: 20px; 
width: 300px; 
height: 300px;

border-radius: 100%; 
}

.about-imageButton-captionLink-julie{
color: var(--clr-neutral-200); 
margin-left: 40%; 

}

.about-imageButton-captionLink-stephen{
  color: var(--clr-neutral-200); 
  margin-left: 40%; 
}


.about-imageButton-captionLink-toryJones{
  color: var(--clr-neutral-200); 
  margin-left: 40%; 
}


.about-imageButton-captionLink:visited{
  color: var(--clr-neutral-200); 
}




.aboutPhotoContainer-julie{
  border-radius: 25px; 
  /* background-image: url(media/2021\ Julie\ Taft\ Portrait-1\ optimized.jpg);  */
  background-image: url(media/ProfilePhotos/2021\ Julie\ Taft\ Portrait-1\ optimized.jpg);
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: 50% 50%; 
  border-radius: 20px; 
  max-width: 95%; 
height: 50vh; 
display: block; 
  margin: 0 auto; 
}

.aboutPhotoContainer-stephen{
border-radius: 25px; 
  background-image: url(media/ProfilePhotos/StephenLMHC.jpg); 
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: 50% 30%; 
  max-width: 95%; 
  height: 75vh; 
  display: block; 
  margin: 0 auto; 
margin-top: 4em; 
}





/* Header */
.BodhiLogoHeader {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding: 1rem;
  height: 35vh;
}

.img-bigTree {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}


/* CARDS */
.card {
  margin-top: 20px;
  transition: all 150ms ease-in-out;
}

.card:hover {
  box-shadow: #212529 3px 3px 3px 3px;
}

.cardButton {
  background: whitesmoke;
  border: solid 1px #296f1d;
  border-radius: 10px;
  box-shadow: #6f1813;
  color: #296f1d;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
}

.cardButton:hover {
  background: #9ec09c;
  border: solid 1px #296f1d;
  color: whitesmoke;
  transition: ease-in-out 150ms;
}

.cardColor {
  background: #ffffff;
}
.card-footer {
  background: #f8f9fa;
}
.card-body {
  color: #212529;
}

.cardList {
  text-align: center;
}
.card-title {
  color: #212529;
  text-align: center;
}

.card-text {
  color: #212529;
}
/* COMMUNITY FLAGS ON CARDS */
.flags {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.communityFlag-accordion {
  display: inline;
  max-width: 15%;
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.copyright {
  font-size: smaller;
  text-align: right;
}

.headerBanner {
  position: sticky;
}

.hrLine {
  color: #5d6746;
}

.contactForm {
  border: 2px solid #212529;
  border-radius: 8px;
  max-width: 80%;
  padding: 20px;
}

.footer {
  color: black;
  text-align: center;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.footer > * {
  flex-basis: 100%;
}

.footerList {
  text-align: center;
}

.footerLogo {
  display: block;
  padding: 0;
  margin: 0 auto;
  max-width: 33%;
  max-height: auto;
}

.communityFlag {
  max-width: 10%;
}

.mainBodyHeader {
  color: var(--clr-neutral-800);
  margin-top: 2em;
  margin-bottom: 1em;
}

.navIcon {
  padding: 5px;
}


.accordionMenu{
  background-color: var(--clr-neutral-100); 
  margin: 0 15%; 
  border-radius: 10px; 
}

.accordion-color{
  background-color: var(--clr-neutral-100); 
}

.serviceList {
  color: var(--clr-neutral-800);
  font-family: var(--ff-primary);
  font-size: 1em;
}

.servicesList {
  color: #212529;
  font-family: var(--ff-primary);
  font-size: 1em;
  text-align: center;
  padding: 20px;
  border-radius: 10px; 
}

.twoColumns {
  columns: 2;
}

.spacerElement {
  margin-top: 2.5em;
}

/* RATES AND INSURANCE  */

.insuranceLogo{
  background-color:var(--clr-neutral-100); 
  max-width: 8ch;  
  height: auto; 
margin: 1em; 
}

.rate {
  margin-top: 1em; 
}


/* Send Me a Message */

.contactButton {
  /* background-color: var(--clr-green-200); */
  background: rgb(245,245,245);
  background: radial-gradient(circle, rgba(245,245,245,1) 0%, rgba(28,100,52,1) 100%);
  border-radius: 10px; 
  display: block;
  margin: 0 auto;
  margin-top: 4em;
  padding: 1em 2em;
}

.contactButton:hover {
  box-shadow: #212529 3px 3px 3px 3px;
  transition: ease-in-out 20ms;
}

.contactButtonLink {
  color: var(--clr-neutral-800);
  font-family: var(--ff-primary);
  font-size: 1em;
  padding: 1em;
  letter-spacing: 0.1em;
}

.contactButtonLink:hover {
  color: var(--clr-neutral-100);
  transition: ease-in-out 20ms;
}

/* FOOTER */
.socialLinks {
  color: black;
}

/* COLUMNS */
.even-columns {
  display: flex;
}

.even-columns > * {
  flex-basis: 100%;
}
