:root {
  --clr-neutral-100: #f8f9fa;
  --clr-neutral-200: #f5f5f5;
  --clr-neutral-800: #212529;

  --clr-green-200: #43b067;
  --clr-green-400: #1c6434;

  --ff-primary: "Montserrat", "Roboto", "Helvetica", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  border-style: border-box;
}

/* body  */
body {
  background-color: var(--clr-neutral-100);
  font-size: 16px;
  overflow-x: hidden;
  font-family: var(--ff-primary); 
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--clr-neutral-800);
  font-family: "Montserrat", "Roboto", "Helvetica", sans-serif;
}
h1 {
  background-color: var(--clr-green-400);
  color: var(--clr-neutral-200);
  padding: 1em;
  text-align: center;
}
h2 {
  text-align: center;
}

/* links */
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #212529;
  text-decoration: none;
}
a:visited {
  color: #212529;
  text-decoration: none;
}

ul {
  padding-left: 0px;
}
li {
  list-style: none;
  font-family: "Montserrat", "Roboto", "Helvetica";
}

p {
  color: #628395;
  font-family: "Montserrat", "Roboto", "Helvetica";
}

/* ABOUT */

.aboutMeTitle {
  margin-top: 1.5em;
  text-align: center;
  font-weight: 600;
}

.aboutMeTitle-bodhi {
  margin-top: 0.5em;
  text-align: center;
  font-weight: 600;
}

.aboutMeSubTitle {
  font-size: 0.8em;
  font-weight: 200;
  text-align: center;
}

.aboutMe {
  color: #212529;
  font-size: 1em;
  display: inline-block;
  margin: 0 auto;
  max-width: 95%;
  padding-top: 2em;
  padding-left: 1.5em; 
  vertical-align: middle;
}

.aboutPhotoContainer-julie{
  background-image: url(media/2021\ Julie\ Taft\ Portrait-1\ optimized.jpg); 
  background-size: cover; 
  background-position: 50% 50%; 
  max-width: 60%; 
  height: 60vh; 
  display: block; 
  margin: 0 auto; 
border-radius: 10px; 
}

.aboutPhotoContainer-stephen{
  background-image: url(media/Stephen.jpeg); 
  background-size: cover; 
  background-position: 50% 30%; 
  max-width: 60%; 
  height: 70vh; 
  display: block; 
  margin: 0 auto; 
border-radius: 10px; 
margin-top: 4em; 
}




.treeIcon {
  font-size: 8em;
  margin-top: 0.5em;
  margin-bottom: 0;
  text-align: center;
}

/* Header */
.BodhiLogoHeader {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding: 1rem;
}

.img-bigTree {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

/* CARDS */
.card {
  margin-top: 20px;
  transition: all 150ms ease-in-out;
}

.card:hover {
  box-shadow: #212529 3px 3px 3px 3px;
}

.cardButton {
  background: whitesmoke;
  border: solid 1px #296f1d;
  border-radius: 10px;
  box-shadow: #6f1813;
  color: #296f1d;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
}

.cardButton:hover {
  background: #9ec09c;
  border: solid 1px #296f1d;
  color: whitesmoke;
  transition: ease-in-out 150ms;
}

.cardColor {
  background: #ffffff;
}
.card-footer {
  background: #f8f9fa;
}
.card-body {
  color: #212529;
}

.cardList {
  text-align: center;
}
.card-title {
  color: #212529;
  text-align: center;
}

.card-text {
  color: #212529;
}
/* COMMUNITY FLAGS ON CARDS */
.flags {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.communityFlag-accordion {
  display: inline;
  max-width: 15%;
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.copyright {
  font-size: smaller;
  text-align: right;
}

.headerBanner {
  position: sticky;
}

.hrLine {
  color: #5d6746;
}

.contactForm {
  border: 2px solid #212529;
  border-radius: 8px;
  max-width: 80%;
  padding: 20px;
}

.footer {
  color: black;
  text-align: center;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.footer > * {
  flex-basis: 100%;
}

.footerList {
  text-align: center;
}

.footerLogo {
  display: block;
  padding: 0;
  margin: 0 auto;
  max-width: 33%;
  max-height: auto;
}

.communityFlag {
  max-width: 10%;
}

.mainBodyHeader {
  color: var(--clr-neutral-200);
  margin-top: 2em;
  margin-bottom: 1em;
}

.navIcon {
  padding: 5px;
}

.accordion-color{
  background-color: var(--clr-neutral-100); 
}

.serviceList {
  color: var(--clr-neutral-800);
  font-family: var(--ff-primary);
  font-size: 1em;
}

.servicesList {
  color: #212529;
  font-family: var(--ff-primary);
  font-size: 1em;
  text-align: center;
  padding: 20px;
}

.twoColumns {
  columns: 2;
}

.spacerElement {
  margin-top: 2.5em;
}

/* RATES AND INSURANCE  */

.insuranceLogo{
  background-color:var(--clr-neutral-100); 
  max-width: 8ch;  
  height: auto; 
margin: 1em; 
}


/* Send Me a Message */

.contactButton {
  background-color: var(--clr-green-200);
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  margin-top: 4em;
  padding: 1em 2em;
}

.contactButton:hover {
  box-shadow: #212529 3px 3px 3px 3px;
  transition: ease-in-out 20ms;
}

.contactButtonLink {
  color: var(--clr-neutral-200);
  font-family: var(--ff-primary);
  font-size: .8em;
  padding: 1em;
  letter-spacing: 0.1em;
}

.contactButtonLink:hover {
  color: var(--clr-neutral-100);
  transition: ease-in-out 20ms;
}

/* FOOTER */
.socialLinks {
  color: black;
}

/* COLUMNS */
.even-columns {
  display: flex;
}

.even-columns > * {
  flex-basis: 100%;
}
